@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="zh-hk">
    <meta name="Country" content="hk">
    <meta name="description" content="@ViewBag.Title - Prince Cafe">
    <meta name="keywords" content="Cafe, Coffee, Cake, Snacks, Drinks">
    <meta name="author" content="Prince Wong">
    <title>@ViewBag.Title - Prince Cafe</title>
    <link href="/img/common/favicon.ico" rel="icon" type="image/x-icon">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#myNavbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="@Url.Action("Index", "Home")">Prince Cafe</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="@IsCurrentPage("Index", "Home")">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="@IsCurrentPage("About", "Home")">@Html.ActionLink("About", "About", "Home")</li>
                    <li class="@IsCurrentPage("Index", "Product")">@Html.ActionLink("Products", "Index", "Product")</li>
                    @if (ViewBag.IsAdmin == true)
                    {
                        <li class="@IsCurrentPage("Contact", "Home")">@Html.ActionLink("Feedback", "Contact", "Home")</li>
                        <li class="@IsCurrentPage("Index", "Sale")">@Html.ActionLink("Product Management", "Products", "Admin")</li>
                    }
                    else
                    {
                        <li class="@IsCurrentPage("Contact", "Home")">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }
                </ul>
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <ul class="nav navbar-nav navbar-right">
                            @if (ViewBag.IsAdmin == true)
                            {
                                <li>@Html.ActionLink("Sales Record", "Order", "Admin", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Profile", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                                <li><a href="@Url.Action("Cart", "Home")"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;Cart&nbsp;<span class="badge">@ViewBag.NumOfCartItems</span></a></li>
                            }
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        </ul>
                    }
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="@IsCurrentPage("Register", "Account")">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        <li class="@IsCurrentPage("Login", "Account")">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    </ul>
                }
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container text-center">
            <h1>Prince Cafe</h1>
        </div>
    </div>

    @RenderBody()

    <!-- Modal -->
    <div id="messageModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p><!-- Custom Message--></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <footer class="container-fluid text-center">
        <div class="container myfooter">
            <div class="row">
                <div class="col-xs-12 myfooter__top-inner">
                    <p>
                        <h2>Prince Cafe</h2>
                    </p>
                    <p class="quote">"Our local baristas know that great espresso takes more than pushing a button. We work hard to deliver great taste while also providing knowledgeable service, perfect if you just want to try something new."</p>
                    <p>
                        <h3>Store</h3>
                    </p>
                    <p class="address">ABC Building, Central, Hong Kong</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="myfooter__content"><a class="myfooter__link" href="@Url.Action("Index", "Home")">Home</a><a class="myfooter__link" href="@Url.Action("About", "Home")">About</a><a class="myfooter__link" href="@Url.Action("Index", "Product")">Products</a><a class="myfooter__link" href="@Url.Action("Contact", "Home")">Contact</a></div>
                </div>
                <div class="col-xs-12 text-center">
                    <div class="myfooter__copyright">
                        <p>&copy; Copyright 2019 - All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

@functions {
    public string IsCurrentPage(string actionName, string controllerName)
    {
        return (ViewContext.RouteData.Values["action"].ToString() == actionName && ViewContext.RouteData.Values["controller"].ToString() == controllerName) ? "active" : null;
    }
}
