@if (ViewBag.IsAdmin)
{
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                    <li>@Html.ActionLink("Order Management", "Order", "Admin")</li>
                    <li class="active">Details</li>
                </ol>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { title = "Home" })</li>
                    <li>@Html.ActionLink("Account", "Index", "Profile", new { title = "Account" })</li>
                    <li class="active">Purchase History</li>
                </ol>
            </div>
        </div>
    </div>
}
<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Order Details</div>
                <div class="panel-body">@* Generate by JS *@</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 account__purchase-details">
            <div class="panel panel-default">
                <div class="panel-heading">Order Items</div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th class="hidden-xs"></th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="panel-footer text-right"><strong>Grand Total: </strong><span class="grandTotal"></span></div>
            </div>
        </div>
    </div>
    @if (ViewBag.IsAdmin)
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="cart__button-wrapper"><a class="cart__button" href="@Url.Action("Order", "Admin")">Back</a></div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="cart__button-wrapper"><a class="cart__button" href="@Url.Action("Index", "Profile")" title="Go Back">Back</a></div>
            </div>
        </div>
    }
</div>

<script id="order_details_template" type="x-tmpl-mustache">
    <dl>
        <dt>Order No: </dt>
        <dd>{{ order_id }}</dd>
        <dt>Order Date: </dt>
        <dd>{{ order_date }}</dd>
        <dt>First Name: </dt>
        <dd>{{ first_name }}</dd>
        <dt>Last Name: </dt>
        <dd>{{ last_name }}</dd>
        <dt>Email Address:</dt>
        <dd>{{ email }}</dd>
        <dt>Phone Number:</dt>
        <dd>{{ phone_number }}</dd>
        <dt>Delivery:</dt>
        <dd>{{ delivery_type }}</dd>
        <dt>Table No:</dt>
        <dd>{{ table_no }}</dd>
    </dl>
</script>
<script id="table_template" type="x-tmpl-mustache">
    <tr>
        <td class="hidden-xs"><a href="{{ product_url }}" title="Visit Product Details"><img class="cart__image" src="{{ file_path }}" alt="{{ product_name }}" title="{{ product_name }}"></a></td>
        <td><a href="{{ product_url }}" title="Visit Product Details">{{ product_name }}</a></td>
        <td>{{ price }}</td>
        <td>{{ quantity }}</td>
        <td>{{ sub_total }}</td>
    </tr>
</script>

@section Scripts{
    @Scripts.Render("~/bundles/mustache")
    <script>
        $(function () {

            var order_details_template = $('#order_details_template').html(),
                table_template = $("#table_template").html();

            $.ajax({
                url: "/api/Order/@ViewBag.Id",
                method: "GET",
                dataType: "json",
                statusCode: {
                    200: function (response) {

                        var html = "";
                        Mustache.parse(table_template);

                        $.each(response.orderedItems, function (index, value) {

                            html += Mustache.render(table_template, {
                                product_url: "/Product/Details/" + value.product_id,
                                product_name: value.product_name,
                                file_path: value.file_path,
                                price: value.price,
                                quantity: value.quantity,
                                sub_total: value.sub_total
                            });

                        });

                        $('tbody').html(html);
                        $('.grandTotal').text(response.totalAmount);

                        Mustache.parse(order_details_template);
                        html = "";

                        html += Mustache.render(order_details_template, {
                            order_id: response.orderId,
                            order_date: response.orderDate,
                            first_name: response.firstName,
                            last_name: response.lastName,
                            email: response.email,
                            phone_number: response.phoneNumber,
                            delivery_type: (response.deliveryType == "dinn_in") ? "Dinn In" : "Take Away",
                            table_no: (response.deliveryType == "dinn_in") ? response.tableNo : "N/A"
                        });

                        $('.panel-body').html(html);
                    }
                }
            });

        });
    </script>
}