@model MyShop.Models.Product

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Product Management", "Index", "ProductManagement")</li>
                <li class="active">Details</li>
            </ol>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="admin__products-wrapper">
                <div class="admin__group">
                    <div class="admin__details">
                        <table class="table">
                            <tr>
                                <td class="admin__label">@Html.DisplayNameFor(model => model.ProductName)</td>
                                <td class="admin__value">
                                    @Html.DisplayFor(model => model.ProductName)
                                </td>
                            </tr>
                            <tr>
                                <td class="admin__label">@Html.DisplayNameFor(model => model.CategoryID)</td>
                                <td class="admin__value">
                                    @Html.DisplayFor(model => model.ProductCategories.CategoryName)
                                </td>
                            </tr>
                            <tr>
                                <td class="admin__label">@Html.DisplayNameFor(model => model.ProductDescription)</td>
                                <td class="admin__value">
                                    @Html.DisplayFor(model => model.ProductDescription)
                                </td>
                            </tr>
                            <tr>
                                <td class="admin__label">@Html.DisplayNameFor(model => model.Price)</td>
                                <td class="admin__value">
                                    @Html.DisplayFor(model => model.Price)
                                </td>
                            </tr>
                            <tr>
                                <td class="admin__label">@Html.DisplayNameFor(model => model.DiscountedPrice)</td>
                                <td class="admin__value">
                                    @Html.DisplayFor(model => model.DiscountedPrice)
                                </td>
                            </tr>
                            <tr>
                                <td class="admin__label">@Html.DisplayNameFor(model => model.SalesPeriodStartAt)</td>
                                <td class="admin__value">
                                    @Html.DisplayFor(model => model.SalesPeriodStartAt)
                                </td>
                            </tr>
                            <tr>
                                <td class="admin__label">@Html.DisplayNameFor(model => model.SalesPeriodEndAt)</td>
                                <td class="admin__value">
                                    @Html.DisplayFor(model => model.SalesPeriodEndAt)
                                </td>
                            </tr>
                            <tr>
                                <td class="admin__label">@Html.DisplayNameFor(model => model.StockQuantity)</td>
                                <td class="admin__value">
                                    @Html.DisplayFor(model => model.StockQuantity)
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="admin__footer-button-wrapper"><a class="btn btn-default btn-back" href="@Url.Action("Edit", "ProductManagement", new { id = Model.ProductID })">Edit</a><a class="btn btn-default btn-back" href="@Url.Action("Index", "ProductManagement")">Back to list</a></div>
        </div>
    </div>
</div>