@model PagedList.IPagedList<MyShop.Models.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="./">Home</a></li>
                <li class="active">Product Management</li>
            </ol>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="admin__products-wrapper">
                <div class="admin__group">
                    <div class="admin__heading">Product Management</div>
                </div>
                <div class="admin__group"><a class="btn btn-default btn-create" href="@Url.Action("Create", "Sale")">Create Product</a></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="admin__products-wrapper">
                <div class="admin__group">
                    @foreach (var item in Model)
                    {
                        <div class="admin__record">
                            <div class="admin__sub-group left">
                                <div class="admin__text"><b>@Html.DisplayFor(modelItem => item.ProductName)</b></div>
                                <div class="admin__text">Price: @Html.DisplayFor(modelItem => item.Price)</div>
                                <div class="admin__text">Stock: @Html.DisplayFor(modelItem => item.StockQuantity)</div>
                            </div>
                            <div class="admin__sub-group right">
                                <div class="admin__text text-right"><a class="btn-action" href="@Url.Action("Details", "Sale", new { id = item.ProductID })"><span class="glyphicon glyphicon-list"></span></a><a class="btn-action" href="@Url.Action("Edit", "Sale", new { id = item.ProductID })"><span class="glyphicon glyphicon-edit"></span></a><a class="btn-action" href="@Url.Action("Delete", "Sale", new { id = item.ProductID })"><span class="glyphicon glyphicon-trash"></span></a></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="admin__pagination-wrapper">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                <div class="admin__group text-center">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
    </div>
</div>