@model MyShop.Models.Contact

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="active">Contact</li>
            </ol>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="contact__wrapper">
                @using (Html.BeginForm("", "api/Contact", FormMethod.Post, new { @class = "form-horizontal", @id = "ContactForm", name="ContactForm" }))
                {
                    @Html.AntiForgeryToken();
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Get in touch</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="FirstName" class="hide-element">First Name</label>
                                @Html.TextBoxFor(m => m.FirstName, new { @id = "FirstName", @class = "form-control contact__input-field", @placeholder = "First Name" })
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="LastName" class="hide-element">Last Name</label>
                                @Html.TextBoxFor(m => m.LastName, new { @id = "LastName", @class = "form-control contact__input-field", @placeholder = "Last Name" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="Email" class="hide-element">Email</label>
                                @Html.TextBoxFor(m => m.Email, new { @id = "Email", @class = "form-control contact__input-field", @placeholder = "Email" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="Subject" class="hide-element">Subject</label>
                                @Html.TextBoxFor(m => m.Subject, new { @id = "Subject", @class = "form-control contact__input-field", @placeholder = "Subject" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="Message" class="hide-element">Message</label>
                                @Html.TextAreaFor(m => m.Message, new { @id = "Message", @class = "form-control contact__input-field", @placeholder = "Message" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="form-group">
                                <input class="contact__button" type="submit" name="contact_submit" value="Send Message">
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section Scripts{
<script>
    $(function () {

        $('form[name="ContactForm"]').submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: "/api/Contact",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                data: $(this).serialize(),
                method: "POST",
                dataType: "json",
                statusCode: {
                    201: function () {
                        $('#ContactForm').trigger('reset');
                        alert("We have been received your message! We will contact you soon.");
                    }
                },
                error: function (e) {
                    console.error(e);
                }
            })
        })

    })

</script>
}
