@model IEnumerable<MyShop.Models.Product>

@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row" id="product_list">
        @*@foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="panel">
                    <div class="panel-body">
                        <div class="product__wrapper">
                            <div class="product__img">
                                <a href="@Url.Action("Details", "Product", new { id = item.ProductID })"><img class="img-responsive" src="https://placehold.it/570x570?text=IMAGE" alt="Image" title="@Html.DisplayFor(modelItem => item.ProductName)"></a>
                                <div class="product__action">
                                    <div class="product__action-left"><a href="#" title="Add to cart"> <span class="glyphicon glyphicon-shopping-cart"> </span><span class="text">Add to cart</span></a></div>
                                    <div class="product__action-right"><a href="#"> <span class="glyphicon glyphicon-heart-empty"></span></a><a href="@Url.Action("Details", "Product", new { id = item.ProductID })"> <span class="glyphicon glyphicon-new-window"></span></a></div>
                                </div>
                            </div>
                            <div class="product__details">
                                <p>@Html.DisplayFor(modelItem => item.ProductName)</p>
                                <p>@Html.DisplayFor(modelItem => item.Price)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }*@
    </div>
</div>

<script id="template" type="x-tmpl-mustache">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel">
            <div class="panel-body">
                <div class="product__wrapper">
                    <div class="product__img">
                        <a href="{{ product_url }}"><img class="img-responsive" src="https://placehold.it/570x570?text=IMAGE" alt="Image" title="{{ product_name }}"></a>
                        <div class="product__action">
                            <div class="product__action-left"><a href="#" title="Add to cart"> <span class="glyphicon glyphicon-shopping-cart"> </span><span class="text">Add to cart</span></a></div>
                            <div class="product__action-right"><a href="#"> <span class="glyphicon glyphicon-heart-empty"></span></a><a href="{{ product_url }}"> <span class="glyphicon glyphicon-new-window"></span></a></div>
                        </div>
                    </div>
                    <div class="product__details">
                        <p>{{ product_name }}</p>
                        <p>{{ price }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

@section Scripts{
    @Scripts.Render("~/bundles/mustache")
    <script>
        $(function () {

            var template = $('#template').html();
            Mustache.parse(template);

            $.ajax({
                url: "/api/Products",
                method: "GET",
                statusCode: {
                    200: function (response) {

                        var html = "";

                        $.each(response.products, function (index, value) {
                            html += Mustache.render(template, {
                                product_url: "/Product/Details/" + value.product_id,
                                product_name: value.product_name,
                                price: value.price
                            });
                        });
                        
                        $('#product_list').html(html);
                    }
                }
            });

        })
    </script>
}
